$font-stack: 'Montserrat', sans-serif;
$font-color: #000000;
$background-color: #ffffff;

body {
  font: 100% $font-stack;
  color: $font-color;
  background-color: $background-color;
}


.hello-world-banner {
    height: 300px;
    width: 100%;
    background: #1db8a7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.hello-world {
    font-size: 8em;
    color: #ffffff;
}
