$font-stack: 'Montserrat', sans-serif;
$font-color: #ffffff;
$background-color: #ffffff;
$nrg2peers-green-color: #1db8a7;

body {
  font: 100% $font-stack;
  color: $font-color;
//   background-color: $background-color;
}


.hello-world-banner {
    height: 300px;
    width: 100%;
    background: var(--quaternary);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.hello-world {
    font-size: 8em;
    color: var(--secondary);
}

.btn {
  border-radius: 8px;
}

.container { 
  color: white;
}
